# Ignore all CSV files in the /Matchups and /Picks directories
/Data/Matchups/*.csv
/Data/Picks/*.csv

# Ignore the .idea folder
.idea/

# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# intellij idea
/.idea/*

# Virtual Environment
venv/
env/
.venv/
.env/
ENV/